streamlit
python-dotenv

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-chroma
langchain-huggingface
langchain-groq

sentence-transformers
chromadb

protobuf==3.20.3
numpy<2.0.0
torch==2.2.2
torchvision
